@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
/* start global rules */
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
::selection {
  background-color: #bebebeb0;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Space Grotesk", serif;
}
:root {
  --primary-color: #21033a;
  --before-content: "000";
}

/* End global rules */

.container {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }
}

/* Start Aside */
aside {
  width: 28%;
  background: url("./images/bg-main-desktop.png");
  box-shadow: 30px 0px 90px 10px var(--primary-color);
  background-size: cover;
  background-repeat: no-repeat;
  animation:ground 6s linear infinite alternate-reverse ;
  -webkit-animation:ground 6s linear infinite alternate-reverse ;
}

@media (max-width: 1200px) {
  aside {
    width: 100%;
    min-height: 30%;
    margin-bottom: 90px;
    background: url("./images/bg-main-mobile.png");
    background-size: cover;
  }
}
aside .cards {
  position: relative;
  color: #fff;
  box-shadow: 1px 1px 45px 15px #000000;
  max-width: 100%;
}
aside .back-card {
  position: absolute;
  transform: translate(30%, 123%);
}
aside .back-card::before {
  content: var(--before-content);
  position: absolute;
  color: #494444;
  top: 51%;
  left: 85%;
  font-weight: 800;
  transform: translate(-51%, -80%);

}
@media (max-width: 1200px) {
  aside .back-card {
    left: 70%;
    transform: translate(-70%, 10%);

  }
}
@media (max-width: 600px) {
  aside .back-card {
    left: 80%;
    transform: translate(-79%, 10%);

  }
}
aside .back-card img {
  max-width: 420px;
}
@media (max-width: 1200px) {
  aside .back-card img {
    max-width: 300px;
  }
}
@media (max-width: 600px) {
  aside .back-card img {
    max-width: 260px;
  }
}

aside .front-card {
  position: absolute;
  transform: translate(17%, 15%);
  background-image: url("images/bg-card-front.png");
  background-size: cover;
  min-width: 420px;
  min-height: 240px;
  padding: 20px 30px;
  border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -ms-border-radius:10px;
  -o-border-radius:10px;
  box-shadow: 0px 30px 80px 20px #1f0333ed;

}

@media (max-width: 1200px) {
  aside .front-card {
    z-index: 4;
    left: 50%;
    padding: 20px;
    min-height: auto;
    min-width: 350px;
    transform: translate(-50%, 15%);

}
}
@media (max-width: 800px) {
  aside .front-card {
    padding: 15px;
    left: 43%;
    min-width: 320px;
    transform: translate(-43%, 20%);

  }
}
@media (max-width: 600px) {
  aside .front-card {
    min-width: 260px;
    min-height: 160px;
    left: 12%;
    transform: translate(-12%, 20%);}
}
aside .front-card .logo img{
  width: 60px;
}


aside .front-card footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  text-transform: uppercase;
  bottom: -25px;
}
@media (max-width: 1200px) {
  aside .front-card footer {
    bottom: -5px;
  }
}
aside .front-card .number {
  font-size: 25px;
  margin: 70px auto 20px;
}
@media (max-width: 1200px) {
  aside .front-card .number {
    font-size: 20px;
    margin: 20px auto;
  }
}

/* End Aside */
header main {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 1;
  padding-right: 60px;
}
@media (max-width: 1200px) {
  header main {
    padding-right: 0;
    padding-bottom: 20px;
    justify-content: center;
  }
}
header main form{
  max-width: 560px;
}
@media (max-width: 600px) {
  header main form {
    max-width: 90%;
  }
}
header main form .inp-parent {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      text-transform: uppercase;
}
header main form .inp-parent label {
  font-family: monospace;
  margin-bottom: 5px;
  margin-left: 4px;
  font-size: 17px;
  color: var(--primary-color);
}
header main form .inp-parent input {
  font-size: 16px;
  padding:10px 8px;
  outline: none;
  border: 1px solid #999;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
@media (max-width: 400px) {
  header main form .inp-parent input {
    width: 95%;
    margin: auto;
  }
}

header main form .history {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
header main form .history .inp-history {
  display: flex;
  flex-direction: column;
  width: calc((100% / 4) - 10px);
}
header main form .history .inp-history:last-child {
  flex-grow: 1;
}

header main .button {
  display: block;
  margin: auto;
  border: none;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  color: #fff;
  box-shadow: 0 5px 5px #868080;
  background: var(--primary-color);
  padding: 13px 0;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

header main .button:hover {
  background: #20095f;
  box-shadow: 0 10px 15px #868080;
  transition: 300ms;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -ms-transition: 300ms;
  -o-transition: 300ms;
}

/* complete  State*/
.complete {
  padding: 30px 20px;
  min-width: 360px;
  flex-direction: column;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #ac3ced29;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
@media (max-width: 500px) {
  .complete {
    padding: 20px;
    min-width: 330px;
  }
}
.complete .icon img {
  width: 70px;
}
.complete h1 {
  margin: 10px auto 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.complete p {
  margin: 0px auto 25px;
  color: #666;
}
